.game-container {
    display: flex;
    flex-direction: column;
}

.timer {
    text-align: center;
    font-weight: 700;
}

.cards-group {
    margin-bottom: 5px;
}

.btn-card {
    margin: 3px;
    background-color: aqua;
    transition: color .3s ease-in-out;
}

@media (max-width: 475px) {
    .btn {
        padding: 3px;
    }

}
